/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
::selection {
    color: #000000;
    background: #ff0707;
  }
  
body {
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    color: #000;
    overflow-x: hidden;
    background: #fff9f9;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
*, *:before, *:after{
    box-sizing: border-box;
}
p{
    font-weight: 300;
    line-height: 30px;
    font-size: 1.04rem;
    color: #fff;
}
img {
    max-width: 100%;
}

section {
    position: relative;
}
/*grid*/

.row [class^=col-] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 10px;
    padding-left: 10px
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.row .no-gutters {
    padding-right: 0;
    padding-left: 0
}

.row .no-gutters-left {
    padding-left: 0
}

.row .no-gutters-right {
    padding-right: 0
}

.col-xs-1 {
    width: 8.33333%
}

.col-offset-xs-1 {
    margin-left: 8.33333%
}

.col-xs-2 {
    width: 16.66667%
}

.col-offset-xs-2 {
    margin-left: 16.66667%
}

.col-xs-3 {
    width: 25%
}

.col-offset-xs-3 {
    margin-left: 25%
}

.col-xs-4 {
    width: 33.33333%
}

.col-offset-xs-4 {
    margin-left: 33.33333%
}

.col-xs-5 {
    width: 41.66667%
}

.col-offset-xs-5 {
    margin-left: 41.66667%
}

.col-xs-6 {
    width: 50%
}

.col-offset-xs-6 {
    margin-left: 50%
}

.col-xs-7 {
    width: 58.33333%
}

.col-offset-xs-7 {
    margin-left: 58.33333%
}

.col-xs-8 {
    width: 66.66667%
}

.col-offset-xs-8 {
    margin-left: 66.66667%
}

.col-xs-9 {
    width: 75%
}

.col-offset-xs-9 {
    margin-left: 75%
}

.col-xs-10 {
    width: 83.33333%
}

.col-offset-xs-10 {
    margin-left: 83.33333%
}

.col-xs-11 {
    width: 91.66667%
}

.col-offset-xs-11 {
    margin-left: 91.66667%
}

.col-xs-12 {
    width: 100%
}

.col-offset-xs-12 {
    margin-left: 100%
}

@media screen and (min-width: 768px) {
    .col-sm-1 {
        width:8.33333%
    }

    .col-offset-sm-1 {
        margin-left: 8.33333%
    }

    .col-sm-2 {
        width: 16.66667%
    }

    .col-offset-sm-2 {
        margin-left: 16.66667%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-offset-sm-3 {
        margin-left: 25%
    }

    .col-sm-4 {
        width: 33.33333%
    }

    .col-offset-sm-4 {
        margin-left: 33.33333%
    }

    .col-sm-5 {
        width: 41.66667%
    }

    .col-offset-sm-5 {
        margin-left: 41.66667%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-offset-sm-6 {
        margin-left: 50%
    }

    .col-sm-7 {
        width: 58.33333%
    }

    .col-offset-sm-7 {
        margin-left: 58.33333%
    }

    .col-sm-8 {
        width: 66.66667%
    }

    .col-offset-sm-8 {
        margin-left: 66.66667%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-offset-sm-9 {
        margin-left: 75%
    }

    .col-sm-10 {
        width: 83.33333%
    }

    .col-offset-sm-10 {
        margin-left: 83.33333%
    }

    .col-sm-11 {
        width: 91.66667%
    }

    .col-offset-sm-11 {
        margin-left: 91.66667%
    }

    .col-sm-12 {
        width: 100%
    }

    .col-offset-sm-12 {
        margin-left: 100%
    }
}

@media screen and (min-width: 1024px) {
    .col-md-1 {
        width:8.33333%
    }

    .col-offset-md-1 {
        margin-left: 8.33333%
    }

    .col-md-2 {
        width: 16.66667%
    }

    .col-offset-md-2 {
        margin-left: 16.66667%
    }

    .col-md-3 {
        width: 25%
    }

    .col-offset-md-3 {
        margin-left: 25%
    }

    .col-md-4 {
        width: 33.33333%
    }

    .col-offset-md-4 {
        margin-left: 33.33333%
    }

    .col-md-5 {
        width: 41.66667%
    }

    .col-offset-md-5 {
        margin-left: 41.66667%
    }

    .col-md-6 {
        width: 50%
    }

    .col-offset-md-6 {
        margin-left: 50%
    }

    .col-md-7 {
        width: 58.33333%
    }

    .col-offset-md-7 {
        margin-left: 58.33333%
    }

    .col-md-8 {
        width: 66.66667%
    }

    .col-offset-md-8 {
        margin-left: 66.66667%
    }

    .col-md-9 {
        width: 75%
    }

    .col-offset-md-9 {
        margin-left: 75%
    }

    .col-md-10 {
        width: 83.33333%
    }

    .col-offset-md-10 {
        margin-left: 83.33333%
    }

    .col-md-11 {
        width: 91.66667%
    }

    .col-offset-md-11 {
        margin-left: 91.66667%
    }

    .col-md-12 {
        width: 100%
    }

    .col-offset-md-12 {
        margin-left: 100%
    }
}

@media screen and (min-width: 1366px) {
    .col-lg-1 {
        width:8.33333%
    }

    .col-offset-lg-1 {
        margin-left: 8.33333%
    }

    .col-lg-2 {
        width: 16.66667%
    }

    .col-offset-lg-2 {
        margin-left: 16.66667%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-offset-lg-3 {
        margin-left: 25%
    }

    .col-lg-4 {
        width: 33.33333%
    }

    .col-offset-lg-4 {
        margin-left: 33.33333%
    }

    .col-lg-5 {
        width: 41.66667%
    }

    .col-offset-lg-5 {
        margin-left: 41.66667%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-offset-lg-6 {
        margin-left: 50%
    }

    .col-lg-7 {
        width: 58.33333%
    }

    .col-offset-lg-7 {
        margin-left: 58.33333%
    }

    .col-lg-8 {
        width: 66.66667%
    }

    .col-offset-lg-8 {
        margin-left: 66.66667%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-offset-lg-9 {
        margin-left: 75%
    }

    .col-lg-10 {
        width: 83.33333%
    }

    .col-offset-lg-10 {
        margin-left: 83.33333%
    }

    .col-lg-11 {
        width: 91.66667%
    }

    .col-offset-lg-11 {
        margin-left: 91.66667%
    }

    .col-lg-12 {
        width: 100%
    }

    .col-offset-lg-12 {
        margin-left: 100%
    }
}

/*wrapper*/

/* @media screen and (min-width: 90em) {
    main {
        width: calc(100% - 12rem);
    }
}
@media screen and (min-width: 56em){
    main {
        width: calc(100% - 8.33333vw);
    }
}
@media screen and (min-width: 37.5em) {
    main {
        width: calc(100% - 11.17318vw);
    }
} */
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/*header*/
#page-header {
    z-index: 9999;
    position: fixed;
    /*padding-top: 3rem;
    padding-bottom: 3rem;
    mix-blend-mode: difference;
    left: 0;
    top: 0; */
    width: 100%;
    margin: auto;
    min-height: 120px;
    align-items: center;
    display: flex;

}
#page-header .view {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: inherit;
}

#page-header .logo {
    /* position: fixed;
    padding-top: 3rem;
    padding-bottom: 3rem;
    top: 0;
    left: 65px;
    z-index: 999; */
}
 
.navigation {
    mix-blend-mode: difference;
    text-align: center;
}

#page-header .logo h1{
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0em;
}
#page-header .logo h1 a {
    color:#fff;
    letter-spacing: 0.2em;
}
.navigation ul{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.navigation li {
    opacity: 0;
    font-size: 2em;
    margin-bottom: 30px;
}
.navigation.active li {
    opacity: 1;
}
.navigation li:nth-child(1) {
    transform:translate(0px, 80px);
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}
.navigation li:nth-child(2) {
    transform:translate(0px, 100px);
    transition: all .9s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}
.navigation li:nth-child(3) {
    transform:translate(0px, 120px);
    transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}
.navigation li:nth-child(4) {
    transform:translate(0px, 140px);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.navigation.active li:nth-child(1) {
    transform:translate(0px, 0px);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55) .5s;

}
.navigation.active li:nth-child(2) {
    transform:translate(0px, 20px);
    transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55) .5s;

}
.navigation.active li:nth-child(3) {
    transform:translate(0px, 40px);
    transition: all .9s cubic-bezier(0.68, -0.55, 0.265, 1.55) .5s;

}
.navigation.active li:nth-child(4) {
    transform:translate(0px, 60px);
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) .5s;

}

.navigation ul a{
    color: #ff2f00;
}
.blend-area {
    background-color: #fff9f9;
}
.blend-area-inside {
    padding-top: 11em;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
}
.cursive {
    font-family: 'Allura', cursive;
}
.mml-video {
    width: 100%;
    height: 100%;
}

/*banner*/
.home-banner .banner {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    padding-bottom: 8.5rem;
    overflow-x: hidden;
    width: 100%;
}
.home-banner .slide {
    position: relative;
}
.home-banner .slide p {
    font-size: 30px;
    line-height: 1.5;
}
.home-banner .slide .welcome-text{
    font-weight: 300;
    color: #545252;
    font-size: 1.2em;
    display: block;
    padding-left: 12em;
    position: absolute;
    bottom: 40px;
}
@media screen and (min-width: 37.5em) {
    .home-banner .banner {
        padding: 0 11.17318vw 13.40782vw 0;
        overflow: visible;
        text-align: left;
    }
}

@media screen and (min-width: 56em) {
    .home-banner .banner {
        flex-direction: row;
        align-items: center;
        padding: 0 0rem 6.8rem 0;
        /* background: #ccc; */
    }
}

.home-banner .text-content {
    position: absolute;
    top: 50%;
    margin-top: -5rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    mix-blend-mode: difference;
}
.home-banner .text-dynamic {
    font-size: 4.5em;
    line-height: 1.6;
    width: 50%;
}

.home-banner .text-static {
    font-size: 4em;
    font-weight: 800;
}

.home-banner .image-content {    
    width: 100%;
    height: calc(100vw - 4rem);
    margin-bottom: 3rem;
}


@media screen and (min-width: 37.5em) {
    .home-banner .image-content {
        width: 55.86592vw;
        height: 55.86592vw;
        margin: 0 0 0 auto;
    }
}

@media screen and (min-width: 56em) {
    .home-banner .image-content {
        width: 34.72222vw;
        min-width: 30rem;
        height: 34.72222vw;
        min-height: 30rem;
        margin: 0 0 0 auto;
    }
}

@media screen and (min-width: 90em) {
    .home-banner .image-content {
        width: 30rem;
        height: 30rem;
    }
}

.video-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.video-wrapper .mml-video {
    position: absolute;
    left: 0;
    top: 0;
}

/*genric heading font style*/
p, h1, h2, h3, h4, h5 {
    mix-blend-mode: difference;
    color: #cecece;
}

h1, h2, h3, h4, h5 {
    padding-bottom: 32px;
    position: relative;
    margin-bottom: 40px;
    font-weight: 600;
}
p{
    margin-bottom: 15px;
    mix-blend-mode: difference;
}
h1 {
    font-size: 2.8em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2.3em;
    margin-bottom: 30px;
}
h4 {
    font-size: 1.5em;
    margin-bottom: 25px;
}
h5 {
    font-size: 1.2em;
}
.headingStyle {
    position: relative;
}
.headingStyle:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 5px;
    width: 50px;
    left: 50%;
    margin-left: -25px;
    background: #ff0000;
}
.headingStyle.left:after {
    left: 0;
    margin-left: 0;
}
.headingStyle.right:after {
    right: 0;
    left: auto;
    margin: 0;
}

.home-intro {
    margin: 100px 0 200px;
}

/* .home-intro h3, .home-intro h2, .member-section h3, .section-heading h3 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 20px;
} */
.text-uppercase {
    text-transform: uppercase;
}
.link{
    color: #ff0000;
}
.home-process {
    margin: 50px 0 50px;
}
.process-slider {
    position: relative;
    overflow: hidden;
}
.home-process h5 {
    margin-bottom: 30px;
}

.process-slider img {
    max-width: 100%;
    width: 100%;
    transition: all 500ms ease-in-out;
    transform: scale(1.25, 1.25);
}

.process-slider .slick-active img{
      transform: scale(1, 1);
  }

  .work-section {
      padding: 10em 0 30em;
  }
  
  .section-bg-dark {
      background-color: #000;
      color: #fff;
  }
  .section-bg-dark p {
      color: #fff;
  }
  .section-bg-dark .headingStyle:after {
    background: #26bfe9;
  }

  .section-heading {
    margin-bottom: 2em;
  }
  .section-heading.bottom2{
      margin-bottom: 2em;
  }

  .section-heading h2{
    font-size: 3.55em;
    font-weight: 800;
    text-transform: uppercase;
  }
  .section-heading.align-right h2{
      text-align: right;
  }
  .list-row {
    display: flex;
    justify-content: space-between;
  }

  .list-col {
      width: 35vw;
  }
  .list-row .list-col:first-child {
      margin-bottom: 15em;
  }
  .list-row:nth-child(1) .list-col:last-child {
    transform: translate(0px, 15em);
  }
  .list-row:nth-child(2) .list-col:last-child {
    transform: translate(0px, 20em);
  }
  .list-row:nth-child(3) .list-col:last-child {
    transform: translate(0px, 25em);
  }
  .image-container {
      position: relative;
  }
  

  .list-col span {
    font-size: 1.3em;
  }

  .list-col .project-link {
    color: #fff;
    display: block;
    position: absolute;
    right: 0;
    height: 60px;
    width: 60px;
    border: 1px solid #757474;
    border-radius: 50%;
    text-align: center;
    transition: transform 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-weight: 300;
    font-size: 0.8em;
    bottom: 3em;
    right: -4em;
  }
  .project-link:hover {
    transform: scale(1.2);
  }

  .list-col .project-link span {
    margin-top: 20px;
    display: block;
    cursor: pointer;
  }

  .tile-content {
      margin-top: 20px;
  }

  .tile-content h4 {
      margin-bottom: 10px;
  }

  .tile-content span {
    font-size: 1.3em;
  }


  .bottom-cta {
      width: 100%;
      text-align: center;   
      position: absolute;
      left: 0;
      bottom: -20em;
  }
  
  .bottom-cta a.link {
    color: #fff;
    border: 1px solid #757474;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    font-weight: 300;
    transition: transform 0.85s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .bottom-cta a.link:hover {
    transform: scale(1.2);
  }
  .bottom-cta a.link span {
    margin-top: 42%;
    display: block;
    cursor: pointer;
  }

  .member-section {
      padding: 20em 0 10em;
  }

  .team-slider {
      padding: 20vh 0 0;
  }
  
  .team-slider .slick-track {
    display: flex;
    align-items: center;
  }
  .team-slider .slick-list {
      overflow: visible ;
  }
  .team-slider .slick-slide {
    transition: all 1.5s linear;
  }
  .team-slider .slick-current {
    transform:translate(10px, -250px);
    
  }
  .team-slider .staff {
      background: #ccc;
      margin: 0 3em;
  }
 
  .team-slider .slick-prev, .team-slider .slick-next {
    border: 1px solid #757474;
  }
  .menu-link{
      position: relative;
      padding: 0 1.5rem;
  }
  .menu-link::before {
    position: absolute;
    top: calc(50% + 0.01rem);
    left: 1.1rem;
    width: calc(100% - 2.2rem);
    height: .05rem;
    -webkit-transform: translate(0, -50%) scaleX(0);
    transform: translate(0, -50%) scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    background: #ff2f00;
    content: "";
    -webkit-transition: -webkit-transform 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: -webkit-transform 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 0.55s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu-link:hover::before {
    -webkit-transform: translate(0, -50%) scaleX(1);
    transform: translate(0, -50%) scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}

.navigation .active .menu-link::before {
    -webkit-transform: translate(0, -50%) scaleX(1);
    transform: translate(0, -50%) scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}

.news-section {
    padding: 10em 0;
}

.news-list li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5em;
}

.news-list li .news-type {
    font-size: 1.3em;
    font-weight: 500;
}

.news-list li .news-content {
    font-size: 1em;
    font-weight: 300;
    width: 70%;
}

.news-list li .news-cta {
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
}

#page-footer {
    background: #000;
    color: #fff;
    padding: 10em 0;
    position: relative;
}
#page-footer .section-heading {
    margin-bottom: 0;
}
#page-footer p {
    color: #fff;
}
.services {
    line-height: 1.6;
}
.contact p{
    font-size: 0.9em;
}
.contact .footer-icon {
    margin-top: 20px;
}
.contact .footer-icon li{
    width: 25px;
    display: inline-block;
    margin-right: 10px;
}
.contact .footer-icon li svg {
    fill: #fff;
    max-width: 100%;
}
.copy-rights {
    text-align: center;
    font-size: 0.8em;
    position: absolute;
    width: 100%;
    bottom: 10px;
    font-weight: 300;
}
.copy-rights a {
    color: #fff;
    font-size: 0.8em;
}

.loader-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100000;
    padding: 15em;
}

.loader-content {
    position: absolute;
    margin: auto;
    width: 50%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 50vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1010;
}

.loader-content h2 {
    text-align: center;
    margin-top: 20vh;
}
.loader-content h2 span {
    display: block
}
.loader-content h2 span.welcome {
    font-size: 1.5em;
    font-weight: 300;
    color: #3e3e3e;
}
.loader-content h2 span.loader-title {
    font-size: 2em;
    font-weight: 600;
    color: #3e3e3e;
}

.water-fill {
    animation: wave 0.7s infinite linear, 
               fill-up 10s infinite ease-out alternate;
  }
  
  @keyframes wave {
    0% { x: -400px; }
    100% { x: 0; }
  }
  
  
  @keyframes fill-up {
    0% {
      height: 0;
      y: 130px;
    }
    100% {
      height: 160px;
      y: -30px;
    }
  }

  .loaded .loader-content {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 0;
  }
  .loaded .loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
  }

  .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #fff9f9;
    z-index: 1000;
  }

  .loader-section.section-left {
    left: 0;
  }
  .loader-section.section-right {
    right: 0;
  }

  /*Finished Loading Styles*/
.loaded .section-left {
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .loaded .section-right {
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }


.tempt-img-container {
    position: absolute;
}

.custom-banner-style-1 {
    right:0;
    top: 0;
}

.custom-banner-style-2 {
    left:0;
    top: 0;
}
.tempt-img-container.width40 {
    width: 40vw;
}
.tempt-img-container.width45 {
    width: 45vw;
}
.tempt-img-container.width30 {
    width: 30vw;
}
.tempt-img-container.width50 {
    width: 50vw;
}

.dark-bg {
    color: #fff;
    background: #000;
}

.blank {
    height: 80vh;
}
.about-company {
    padding: 150px 0;
}

.justify-content-center {
    justify-content: center!important;
}
.justify-content-left {
    justify-content: flex-start!important;
}
.justify-content-right {
    justify-content: flex-end!important;
}

.about-company .list li{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.about-company .list {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
}

.about-company .list li .key {
    width: 120px;
    text-align: right;
    padding-right: 20px;
}
.about-company .list li .value {
    padding-left: 100px;
}

.next-cta {
    text-align: center;
    padding: 60px 0;
}
.next-cta .next {
    font-size: 2em;
    font-weight: 600;
}

.next-cta a {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.next-cta span {
    display: block;
}
.next-cta .arrow {
    width: 80px;
}

.next-cta .page-name {
    font-size: 1.3em;
}

.next-cta .cta-img {
    width: 180px;
    margin: 7em auto 1em;
}

.testimonials {
    padding: 150px 0;
    text-align: center;
}
.testimonials .slide {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.testimonials .client-circle {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border: 6px solid #000;
    border-radius: 50%;
    margin-bottom: 25px;
}
.testimonial-slider .slick-slide .client-circle {
    transform: scale(0.9);
    border-color: #ccc;
    transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.testimonial-slider .slick-active .client-circle {
    transform: scale(1);
    border-color: #000;
}

.planning, .seo, .development, .design {
    margin: 15em 0;
}

.image-pair {
    display: flex;
    margin: 50px -10px 0;
}

.image-pair img {
    width: 50%;
    padding: 10px;
}

.work-list-wrapper  {
    padding-top: 3em;
}
/* .work-list .work-list-wrapper {
    padding-bottom: 20em;
    padding-top: 10em;
}

.work-list  .list-col .project-link {
    color: #000;
}

.work-list .image-container:hover .overlay-img{
    height: 100%;
    cursor: pointer;
} */
.overlay-img {
    position: absolute;
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 11111;
     height: 0;
     overflow: hidden;
    transition: all .5s cubic-bezier(.28,.05,.76,.94);
}

.overlay-img .hidden-text {
    opacity: 0;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    font-size: 0.8em;
    height: 70px;
    width: 70px;
    display: block;
    text-align: center;
    line-height: 5.2;
    transform: rotate(-360deg);
    position: relative;
    margin: 45% auto;
    transition: all .5s cubic-bezier(.28,.05,.76,.94);
}

.overlay-img .hidden-text:hover {
    color: #ffdf00;
    border-color: #ffdf00;
    box-shadow: -1px 0px 10px 3px rgba(255,223,0,0.3);
}

.work-list .image-container:hover .overlay-img .hidden-text {
    opacity: 1;
    transform: rotate(0deg);
}

.align-center {
    text-align: center;
}

.project-views {
    margin: 100px 0;
}
.align-item-center {
    align-items: center;
}

.project-views h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

.light-bg {
    background-color: #fff;
    padding: 100px 0;
}
.page-banner {
    padding: 100px 0;
}

.timezone {
    display: flex;
    align-items: center;
    width: 500px;
    text-align: center;
    justify-content: center;
    position: fixed;
    bottom: 1em;
    left: 0;
    width: 100%;
    padding: 0 2em;
}

.timezone .country {
    color: #989797;
}

.timezone .time-msg {
    display: none;
}

.timezone .time {
    font-weight: 600;
    color: #989797;
    border-radius: 3px;
    font-size: 1em;
    padding: 0.5em;
}
/* contact form css start */
section.about-contact {
    margin: 2em 0 8em 0;
}
.section-contact-title {
    text-align: center;
    margin-bottom: 3em;
}

.section-contact-title h2{
    font-size: 3.55em;
    font-weight: 800;
    text-transform: uppercase;
}

.contact-form-wrapper {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding: 50px 130px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    color: #333;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    font-weight: 700;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

textarea.form-control {
    height: auto;
}

textarea {
    overflow: auto;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.button-wrap {
    text-align: center;
    margin-top: 1em;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    border-radius: 50px;
}
/* contact form css end */

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.fixed-bg {
    background-size: cover;
    background-position: center center;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background-color: rgba(5, 4, 4, 0.7);
}
.parallax-1 {
    min-height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parallax-1 p, .parallax-1 h2 {
    mix-blend-mode: normal;
}
.parallax-1 .headingStyle {
    mix-blend-mode: normal;
}
.parallax-1 .headingStyle:after {
    background: #2dc0ea;
}


.navicon {
    display: block;
    width: 30px;
    height: 30px;
    padding: 0 0;
    margin: 0 0 0 12px;
    position: relative;
    z-index: 1001;
    cursor: pointer;
}

.navicon i:nth-child(1) {
    top: 12px;
}
.navicon i:nth-child(2) {
    top: 22px;
}
.navicon i:nth-child(3) {
    top: 32px;
}
.navicon i {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #26bfe9;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
}
.navicon.active i:nth-child(1) {
    top: 20px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.navicon.active i:nth-child(2) {
    display: none;
}
.navicon.active i:nth-child(3) {
    top: 20px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navigation-bg {
    position: fixed;
    width: 100vw;
    height: 0;
    top: 0;
    left: 0;
    background: rgba(233, 229, 229, 0.9);
    z-index: 1000;
    transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-bg.active {
    height: 100vh;
    transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}